header { 
    color:rgb(86, 43, 97);
    background-color:rgb(153, 137, 245);
    text-align: center;
    padding: 10px;
    font-family:'Times New Roman', Times, serif
}
h1 {
    font-family:Georgia, 'Times New Roman', Times, serif ;
}